.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}
.list-cell:filled:hover {
    -fx-text-fill: white;
}
.list-cell {
    -fx-background-color: #3B3738;
     -fx-text-fill: white ;
     -fx-font-weight: bold;
     -fx-background-size: 20px 20px;
}
.list-view {
    -fx-background-color: transparent;
    }
    
.Pane{
	-fx-background-color: black ;
	
	
}
.ToolBar {
    -fx-min-height: 32px;
    -fx-pref-height: 32px;
    -fx-max-height: 32px;
    -fx-background-color: -fx-lighter-color;
    -fx-padding: 2px 2px 2px 12px;
}



